# Wally
Packages/
DevPackages/
wally.lock

# Rojo
*.rbxl
*.rbxlx
*sourcemap.json
*project.json

# Build output
build/
dist/
*.d.lua

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo

# Foreman
.foreman/